# Task 1 
### Writer pandas series code to get following output without using dictionary:

In [10]:
import pandas as pd

values = [1, 4, 9, 6, 7]
index = ['a', 'x', 'c', '2', 'e']

series = pd.Series(values, index=index)
series

a    1
x    4
c    9
2    6
e    7
dtype: int64

# Task 2 
### Writer pandas series code to get following output using dictionary:

In [9]:
data = {"Bilal": 42, "Aysha": 38, "Hadia": 39}

series = pd.Series(data)
series

Bilal    42
Aysha    38
Hadia    39
dtype: int64

# Task 3
### Write pandas dataframe code to get following output using python dictionary

In [13]:
Dic = {"day": ["1/1/2017", "1/2/2017", "1/3/2017", "1/4/2017", "1/5/2017", "1/6/2017"],
       "temperature": [32, 35, 28, 24, 32, 3],
       "wind speed": [6, 7, 2, 7, 4, 2],
       "event": ["Rain", "Sunny", "Snow", "Snow", "Rain", "Sunny"]}


df1 = pd.DataFrame(Dic)
df1

        day  temperature  wind speed  event
0  1/1/2017           32           6   Rain
1  1/2/2017           35           7  Sunny
2  1/3/2017           28           2   Snow
3  1/4/2017           24           7   Snow
4  1/5/2017           32           4   Rain
5  1/6/2017            3           2  Sunny

# Task 4
### In extension to above question, you are required to replace index by ['a','b','c','d','e','f']

In [14]:
index_labels = ['a', 'b', 'c', 'd', 'e', 'f']

df1 = pd.DataFrame(Dic, index=index_labels)
df1

        day  temperature  wind speed  event
a  1/1/2017           32           6   Rain
b  1/2/2017           35           7  Sunny
c  1/3/2017           28           2   Snow
d  1/4/2017           24           7   Snow
e  1/5/2017           32           4   Rain
f  1/6/2017            3           2  Sunny

# Task 5
### In extension to above Q.3, calculate mean, miximum and minimum for label “temperature”

In [15]:
temperature_mean = df1["temperature"].mean()
temperature_max = df1["temperature"].max()
temperature_min = df1["temperature"].min()

print("Mean Temperature:", temperature_mean)
print("Maximum Temperature:", temperature_max)
print("Minimum Temperature:", temperature_min)

Mean Temperature: 25.666666666666668
Maximum Temperature: 35
Minimum Temperature: 3

# Task 6
### Import CSV ‘people.csv’ in the given folder. Keep in mind the following instructions:
* you’re required to import only specific columns ["First Name", "Sex", "Email", “Phone”, “Job Title”]
* Set the following columns ["Sex", "Job Title"] as index columns
* Skip following rows [1,5]
* Export the CSV as “NewPeople.csv”

In [16]:
# Import file 
file_path = "C:\\Users\\LENOVO\\Downloads\\EDA Internship 2.0 Week 2\\people.csv"
df = pd.read_csv(file_path, skiprows=[1, 5], usecols=["Sex", "Job Title", "First Name", "Email", "Phone"])

# Set specified columns as index
df.set_index(["Sex", "Job Title"], inplace=True)

# Export the DataFrame to a new CSV file
df.to_csv("C:\\Users\\LENOVO\\Downloads\\EDA Internship 2.0 Week 2\\Newpeople.csv.xlsx")

# Display the DataFrame (optional)
print(df)

                                First Name                       Email  \
Sex    Job Title
Female Phytotherapist              Phillip       bethany14@example.com
Male   Homeopath                  Kristine       bthompson@example.com
       Market researcher           Yesenia   kaitlinkaiser@example.com
       Waste management officer       Erin         tconner@example.org
Female Intelligence analyst      Katherine     conniecowan@example.com
...                                    ...                         ...
       Software engineer            Dennis         bmartin@example.org
       Barrister                     Steve       latasha46@example.net
Male   Police officer               Wesley        regina11@example.org
Female Broadcast journalist         Summer  alexiscantrell@example.org
Male   IT sales professional        Mariah       pcopeland@example.org

                                                 Phone
Sex    Job Title
Female Phytotherapist                214.112.6044x4913
Male   Homeopath                          277.609.7938
       Market researcher                  584.094.6111
       Waste management officer  001-171-649-9856x5553
Female Intelligence analyst      +1-773-151-6685x49162
...                                                ...
       Software engineer          001-095-524-2112x257
       Barrister                      001-865-478-5157
Male   Police officer               995-542-3004x76800
Female Broadcast journalist       001-273-685-6932x092
Male   IT sales professional       (341)594-6554x44657

[98 rows x 3 columns]

# Task 7
### Import excel sheet ‘SampleWork.xlsx’ in the given folder. Keep in mind the following instructions:
* Import sheet 1
* Import only first and last column from sheet 1
* Skip row 2 while importing the sheet
* Set row 2 as header
* export as new sheet.

In [22]:
# Import Excel file
file_path ="C:\\Users\\LENOVO\\Downloads\\EDA Internship 2.0 Week 2\\SampleWork.xlsx"
df = pd.read_excel(file_path, sheet_name='Sheet1', usecols=[0, 3], skiprows=[1], header=1)

# Export the DataFrame to a new Excel file with a new sheet
export_path = "C:\\Users\\LENOVO\\Downloads\\EDA Internship 2.0 Week 2\\NEW.xlsx"
df.to_excel(export_path, sheet_name='NewSheet', index=False)
df

    Bilal  90
0  Sufyan  85
1   Saiqa  80
2   Aimen  75

# Task 8
### : Create the following dataframe as AICP_DF then implement different operations as described below:
* select 'Name', 'Qualification' coloumns and save to df1
* add a new column to AICP_DF “Height” with the following values: [5.1, 6.2, 5.1, 5.2,5.1]
* set column “Name” as the index column.
* retrieve row with index “Hifza”
* retrieve row with index 3
* drop row with index “Bilal

In [23]:
# Create AICP_DF DataFrame
data = {
    'Name': ['Ayesha', 'Hifza', 'Bilal', 'Ali', 'Sara'],
    'Qualification': ['MS', 'PhD', 'BS', 'MS', 'PhD'],
    'Age': [25, 28, 22, 30, 26]
}

AICP_DF = pd.DataFrame(data)

# 1. Select 'Name', 'Qualification' columns and save to df1
df1 = AICP_DF[['Name', 'Qualification']]

# 2. Add a new column to AICP_DF “Height” with the following values: [5.1, 6.2, 5.1, 5.2, 5.1]
AICP_DF['Height'] = [5.1, 6.2, 5.1, 5.2, 5.1]

# 3. Set column “Name” as the index column.
AICP_DF.set_index('Name', inplace=True)

# 4. Retrieve row with index “Hifza”
row_hifza = AICP_DF.loc['Hifza']

# 5. Retrieve row with index 3
row_index_3 = AICP_DF.iloc[3]

# 6. Drop row with index “Bilal"
AICP_DF.drop('Bilal', inplace=True)

# Display the DataFrames and results (optional)
print("AICP_DF:")
print(AICP_DF)

print("\ndf1:")
print(df1)

print("\nRow with index 'Hifza':")
print(row_hifza)

print("\nRow with index 3:")
print(row_index_3)

AICP_DF:
       Qualification  Age  Height
Name
Ayesha            MS   25     5.1
Hifza            PhD   28     6.2
Ali               MS   30     5.2
Sara             PhD   26     5.1

df1:
     Name Qualification
0  Ayesha            MS
1   Hifza           PhD
2   Bilal            BS
3     Ali            MS
4    Sara           PhD

Row with index 'Hifza':
Qualification    PhD
Age               28
Height           6.2
Name: Hifza, dtype: object

Row with index 3:
Qualification     MS
Age               30
Height           5.2
Name: Ali, dtype: object